.table__line-item{
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0;
	text-align: center;

	writing-mode: vertical-rl;
	transform:rotate(180deg);
	border: 1px solid #b9b9b9;
}
